{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | About{% endblock %}
{% block content %}
    <section>
        <div class="row text-white">
            <div class="col-12 col-lg-6 px-0" style="height: 500px;background-image: url('{{ asset('assets/images/about.jpg') }}')"></div>
            <div class="col-12 col-lg-6 px-0 d-flex justify-content-center">
                <div class="about-content pt-3 px-0 container-fluid" style="max-width: 450px">
                    <h1>Our Story</h1>
                    <p>
                        It’s a simple equation that keeps our customers coming back for more.
                        Always fresh toppings and great service plus low, low prices equals great pizza.
                        Here at Sopranos Pizza, we strive to give our customers the best.
                        We’re one of the few family-owned companies left that still truly care about our customers.
                    </p>
                    <p>
                        Our customers can count on prompt and quality service, high-quality food made from high-quality
                        products
                        with the freshest ingredients available and great prices.
                        Whether you’re looking to feed your family or cater a gathering or lunch meeting, feeding a
                        large
                        group
                        is both easy and affordable at Sopranos Pizza.
                    </p>
                    <p>
                        In business since 1987, Sopranos Pizza is a fast food restaurant offering delivery and
                        take-out
                        food
                        service, commercial and institutional catering.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}