{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Contact{% endblock %}
{% block content %}
    <section class="ftco-appointment bg-transparent">
        <div class="container-wrap">
            <div class="row no-gutters d-md-flex align-items-center">
                <div class="col-12 col-md-6 d-flex align-self-stretch">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="100%" height="100%" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=Tinwerf%2016&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                            <style>.mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 100%;
                                    width: 100%;
                                }</style>
                            <style>.gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 100%;
                                    width: 100%;
                                }</style>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 appointment ftco-animate">
                    <h3 class="my-5">Contact Us</h3>
                    <p>
                        <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" width="20px" height="20px"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                        <a href="mailto:abc@example.com">sopranospizza@business.com</a>
                    </p>
                    <p>
                        <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" width="20px" height="20px"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>                        <a href="tel:0612345678">+31 0612345678</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}